<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fit or fat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <br>
    <br>
    <h1>Fit or Fat ?</h1>
    <p>Uplod the picture to see if the person on it is fat or fit. </p>

    <form   action="{% url 'fit_fat_result' %}" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}

        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload Image" name="submit">
    </form>
    <br>
    <br>


    <script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>