<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <p>THis is index page</p>
    <img src="{% static 'brain.jpeg' %}">
    <p><a href="{% url 'contact' %}">Click to go to Contact page </a></p>
    <button onclick="buttonFunc()">Click me!</button>
    <br>
    <br>
    <p>Get your Titanic predictions</p>
    <p>Enter in the details of a made up person on Titanic voyage</p>


    <form   action="{% url 'result' %}">
        {% csrf_token %}

        <p>pclass</p>
        <input type="text" name="pclass">
        <p>sex</p>
        <input type="text" name="sex">
        <p>Age</p>
        <input type="text" name="age">
        <p>sibsp</p>
        <input type="text" name="sibsp">
        <p>parch</p>
        <input type="text" name="parch">
        <p>fare</p>
        <input type="text" name="fare">
        <p>embarked</p>
        <input type="text" name="embarked">
        <p>title</p>
        <input type="text" name="title">

        <input type="submit" value="Submit">
    </form>

    <script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>