<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <p>THis is index page</p>
    <img src="{% static 'brain.jpeg' %}">
    <p><a href="{% url 'contact' %}">Click to go to Contact page </a></p>
    <p><a href="{% url 'fit_fat' %}">Click to go to Fit or Fat page </a></p>
    <p><a href="{% url 'titanic' %}">Click to go to Die on Titanic page </a></p>

    <script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>